@use '../../styles/variables' as *;

.logo img {
  height: 45px;
  width: auto;

  filter: brightness(1.2);

  box-shadow: 0 0 1px $primary-color, 0 0 5px $primary-color, 0 0 10px $primary-color,
    0 0 20px $primary-color;

  border-radius: 8px;

  transition: 0.3s ease-in-out;
}

.logo img:hover {
  box-shadow: 0 0 1px $secondary-color, 0 0 5px $secondary-color, 0 0 10px $secondary-color,
    0 0 20px $secondary-color;

  transform: scale(1.05);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;

  background: $background-color2;
  border-bottom: 2px solid $primary-color;

  font-family: 'Orbitron', sans-serif;
}

.logo {
  font-family: 'Retrowave', sans-serif;
  font-size: 28px;
  color: $primary-color;
  text-shadow: 0 0 10px $primary-color, 0 0 20px $primary-color;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

a {
  text-decoration: none;
  color: $text-color-1;
  font-size: 16px;
  position: relative;
  transition: 0.3s;

  &:hover,
  &.active {
    color: $secondary-color;
    text-shadow: 0 0 5px $secondary-color, 0 0 15px $secondary-color;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background: $secondary-color;
    transition: 0.3s;
  }

  &:hover::after,
  &.active::after {
    width: 100%;
  }
}
