<nav class="navbar">
    <div class="logo">
        <img src="./resources/Logo_PTB.png" alt="Logo PTB">
    </div>

    <ul class="nav-links mt-2">
        <li>
            <a
                routerLink="/"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Homepage</a>
        </li>
        <li><a routerLink="/game" routerLinkActive="active">Jugar</a></li>
        <li><a routerLink="/shop" routerLinkActive="active">Tienda</a></li>
        @if (auth.hasSession()) {
            <li>
                <a routerLink="/logout" class="nav-bar-action">Cerrar sesión</a>
            </li>
        }
    </ul>
    
    @if (auth.hasSession()) {
        <div class="nav-links Profile">
            <a routerLink="/profile" routerLinkActive="active">Perfil</a>
        </div>
    } @else {
        <div class="nav-links Login">
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </div>
    }
</nav>