@use '../../styles/variables' as *;

.title {
  display: inline-block;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Retrowave', sans-serif;

  background: linear-gradient(
    90deg,
    $primary-color,
    $secondary-color
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
}

.font-retrowave {
  font-family: 'Retrowave', sans-serif;
}

.question {
  font-size: 24px;
  font-weight: 400;
  color: $secondary-color;
  letter-spacing: 3px;
}

.answer {
  font-size: 18px;
  font-weight: 300;
  color: $text-color-1;
  letter-spacing: 2px;
}

.play {
  background: linear-gradient(135deg, $primary-color, $secondary-color);
  border: none;
  border-radius: 12px;
  padding: 14px 40px;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba($primary-color, 0.4);
  transition: all 0.25s ease;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  margin-bottom: 20px;
}

.play::before {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: all 0.5s;
}

.play:hover::before {
  left: 100%;
}

.play:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 12px 25px rgba($secondary-color, 0.3);
}

.play:active {
  transform: scale(0.95);
  box-shadow: 0 5px 10px rgba($primary-color, 0.3);
}
